.imageContainer {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}


.board {
    padding: 20px;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 6px 6px pink;
}
