
$showcase-padding: 20px;
$showcase-border: 1px;

.showcase {
    // position: relative;
    // width: #{800px + $showcase-padding * 2 + $showcase-border * 2};
    // height: #{600px + $showcase-padding * 2 + $showcase-border * 2};
    padding: $showcase-padding;
    border: $showcase-border solid black;
    border-radius: 10px;
    box-shadow: 6px 6px pink;
}

.dotContainer {
    position: absolute;
    height: 100%;
    width: 100%;
}

.dot {
    position: absolute;
    background-color: white;
    transition-duration: 0.5s;

    .dotColor {
        position: absolute;
        pointer-events:none;
    }
}
